<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Anonymous Message Board</title>
    <meta name="description" content="freeCodeCamp project boilerplate" />
    <link
      id="favicon"
      rel="icon"
      href="/public/images/favicon.ico"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./public/css/style.css" />
    <link rel="stylesheet" href="/public/css/footer/styles.css" />
  </head>
  <body>
    <header class="py-5">
      <h1 class="text-center mb-0 fw-bold text-decoration-underline">
        IS_2 - Anonymous Message Board
      </h1>
    </header>
    <main class="py-3">
      <section class="text-center">
        <h2 class="text-center text-decoration-underline">
          Usage Instructions
        </h2>
        <p>
          There are two APIs created with both HTTP methods: GET, POST, PUT and
          DELETE. The <strong>first API</strong> allows you to manipulate the
          board and its threads at the following path (the board name is entered
          in the path):
        </p>
        <p><code>/api/threads/:board</code></p>
        <p class="text-center">
          For example, the next button will take you to the general board:
          <a href="/b/general/">
            <button class="btn btn-primary">
              <span class="fw-bold">/b/general/</span>
              board
            </button>
          </a>
        </p>
        <p>
          A GET request to the next path
          <code>/api/threads/:board</code> with the name of the board returns an
          array of the most recent 10 bumped threads on the board with only the
          most recent 3 replies for each.
        </p>
        <p>
          The <strong>second API</strong> allows you to manipulate the replies
          to each thread at the following path:
        </p>
        <p><code>/api/replies/:board</code></p>
        <p>
          A GET request to the next path
          <code>/api/replies/{board}?thread_id={thread_id}</code> returns the
          entire thread with all its replies, excluding the reported and
          delete_password fields.
        </p>
      </section>

      <section id="testui" class="bg-light">
        <h2 class="text-center">API Tests:</h2>
        <p class="text-center">
          The following forms are available to test the application:
        </p>
        <section>
          <h3 class="text-center text-decoration-underline">
            Forms to post, put and delete board data
          </h3>
          <div class="mt-3">
            <h4 class="text-center">New thread (POST /api/threads/:board)</h4>
            <form action="/api/threads/test" method="post" id="newThread">
              <div class="mb-3">
                <label for="board1" class="form-label fw-bold">Board</label>
                <input
                  type="text"
                  class="form-control"
                  id="board1"
                  name="board"
                  placeholder="board"
                  required
                />
              </div>

              <div class="mb-3">
                <label for="thread_text1" class="form-label fw-bold"
                  >Thread Text</label
                >
                <textarea
                  class="form-control"
                  id="thread_text1"
                  rows="3"
                  required
                  placeholder="Thread text..."
                  name="text"
                ></textarea>
              </div>

              <div class="mb-3">
                <label for="delete_password1" class="form-label fw-bold"
                  >Delete Password</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="delete_password1"
                  placeholder="password to delete"
                  name="delete_password"
                  required
                />
              </div>
              <button type="submit" class="btn btn-primary d-block mx-auto">
                Submit
              </button>
            </form>

            <h4 class="text-center">Report thread (PUT /api/threads/:board)</h4>
            <form id="reportThread">
              <div class="mb-3">
                <label for="id_to_report2" class="form-label fw-bold"
                  >Thread ID to Report</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="id_to_report2"
                  placeholder="id to report"
                  name="thread_id"
                  required=""
                />
              </div>

              <button type="submit" class="btn btn-primary d-block mx-auto">
                Submit
              </button>
            </form>

            <h4 class="text-center">
              Delete thread (DELETE /api/threads/:board)
            </h4>
            <form id="deleteThread">
              <div class="mb-3">
                <label for="id_to_delete3" class="form-label fw-bold"
                  >Id to Delete</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="id_to_delete3"
                  placeholder="id to delete"
                  name="thread_id"
                  required
                />
              </div>

              <div class="mb-3">
                <label for="delete_password3" class="form-label fw-bold"
                  >Delete Password</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="delete_password3"
                  placeholder="password"
                  name="delete_password"
                  required
                />
              </div>
              <button type="submit" class="btn btn-primary d-block mx-auto">
                Submit
              </button>
            </form>
          </div>
        </section>
        <section class="pt-5">
          <h3 class="text-center text-decoration-underline">
            Forms to post, put and delete replies data
          </h3>
          <div class="mt-3">
            <h4 class="text-center">New reply (POST /api/replies/:board)</h4>
            <form action="/api/replies/test" method="post" id="newReply">
              <div class="mb-3">
                <label for="thread_id4" class="form-label fw-bold"
                  >Thread ID</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="thread_id4"
                  name="thread_id"
                  placeholder="thread id"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="thread_text_4" class="form-label fw-bold"
                  >Thread Text</label
                >
                <textarea
                  type="text"
                  class="form-control"
                  id="thread_text_4"
                  placeholder="Thread text..."
                  name="text"
                  required
                ></textarea>
              </div>

              <div class="mb-3">
                <label for="delete_password4" class="form-label fw-bold"
                  >Delete Password</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="delete_password4"
                  placeholder="password to delete"
                  name="delete_password"
                  required
                />
              </div>
              <button type="submit" class="btn btn-success d-block mx-auto">
                Submit
              </button>
            </form>

            <h4 class="text-center">Report reply (PUT /api/replies/:board)</h4>
            <form id="reportReply">
              <div class="mb-3">
                <label for="thread_id5" class="form-label fw-bold"
                  >Thread ID</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="thread_id5"
                  placeholder="thread id"
                  name="thread_id"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="id_to_report5" class="form-label fw-bold"
                  >ID to report</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="id_to_report5"
                  placeholder="id to report"
                  name="reply_id"
                  required
                />
              </div>
              <button type="submit" class="btn btn-success d-block mx-auto">
                Submit
              </button>
            </form>
            <h4 class="text-center">
              Delete reply (DELETE /api/replies/:board)
            </h4>
            <form id="deleteReply">
              <div class="mb-3">
                <label for="thread_id6" class="form-label fw-bold"
                  >Thread ID</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="thread_id6"
                  placeholder="thread id"
                  name="thread_id"
                  required
                />
              </div>

              <div class="mb-3">
                <label for="id_to_delete6" class="form-label fw-bold"
                  >ID to delete</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="id_to_delete6"
                  placeholder="id to delete"
                  name="reply_id"
                  required
                />
              </div>

              <div class="mb-3">
                <label for="delete_password6" class="form-label fw-bold"
                  >Delete Password</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="delete_password6"
                  placeholder="password"
                  name="delete_password"
                  required
                />
              </div>
              <button type="submit" class="btn btn-success d-block mx-auto">
                Submit
              </button>
            </form>
          </div>
        </section>
      </section>
    </main>
    <footer class="footer" translate="no">
      <div class="footer_contenido">
        <div translate="no" id="footer_tag">Developed by:</div>

        <div class="logo">
          <a
            href="https://linktr.ee/waldohidalgo"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img src="./public/images/logo_waldo.png" alt="logo waldo" />
          </a>
        </div>
      </div>
    </footer>
    <!-- Your web-app is https, so your scripts need to be too -->
    <script
      src="https://code.jquery.com/jquery-2.2.1.min.js"
      integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
      crossorigin="anonymous"
    ></script>
    <script>
      $(function () {
        $("#newThread").submit(function () {
          var board = $("#board1").val();
          $(this).attr("action", "/api/threads/" + board);
        });
        $("#newReply").submit(function () {
          var board = $("#board4").val();
          $(this).attr("action", "/api/replies/" + board);
        });
        $("#reportThread").submit(function (e) {
          var url = "/api/threads/" + $("#board2").val();
          $.ajax({
            type: "PUT",
            url: url,
            data: $(this).serialize(),
            success: function (data) {
              alert(data);
            },
          });
          e.preventDefault();
        });
        $("#deleteThread").submit(function (e) {
          var url = "/api/threads/" + $("#board3").val();
          $.ajax({
            type: "DELETE",
            url: url,
            data: $(this).serialize(),
            success: function (data) {
              alert(data);
            },
          });
          e.preventDefault();
        });
        $("#reportReply").submit(function (e) {
          var url = "/api/replies/" + $("#board5").val();
          $.ajax({
            type: "PUT",
            url: url,
            data: $(this).serialize(),
            success: function (data) {
              alert(data);
            },
          });
          e.preventDefault();
        });
        $("#deleteReply").submit(function (e) {
          var url = "/api/replies/" + $("#board6").val();
          $.ajax({
            type: "DELETE",
            url: url,
            data: $(this).serialize(),
            success: function (data) {
              alert(data);
            },
          });
          e.preventDefault();
        });
      });
    </script>
  </body>
</html>
